/* Reset styles */
html,
body,
ul,
li,
h1,
h2,
h3,
p,
footer {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Header styles */
header {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    margin-bottom: 32px;
}

header h1 {
    font-size: 32px;
}

/* Main section styles */
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* About section styles */
.about {
    margin: 0 16px 20px 16px;
}

.about h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about p {
    margin-bottom: 20px;
}

/* Posts section styles */
.posts h2 {
    font-size: 24px;
    margin: 0 16px 20px 16px;
}

.post-list {
    list-style: none;
    margin: 0 32px 0 32px;
}

.post {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
}

.post-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-date,
.post-name,
.post-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.post-date::before,
.post-name::before,
.post-description::before {
    content: '\00BB';
    margin-right: 5px;
    color: #aaa;
}

.join-button {
    background-color: #003366;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

  .participant-count {
    display: inline-block;
    background-color: orange;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 10px 20px;
  }  

.join-button:hover {
    background-color: #002c52;
}

/* Footer styles */
footer {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 32px;
}

/*navタグのliにCSSを当てる*/
nav ul li {
    /* display: inline-block; */
    margin-right: 20px;
    float:right;
    list-style-type: none;
    line-height: 0.5;
  }
  
  /* <a>タグにスタイルを当てる */
  nav ul li a {
    text-decoration: none; 
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }

  .fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }

  .fab a {
    text-decoration: none;
    color: #fff;
  }
  
  .fab:hover {
    background-color: orange;
  }
  